<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sizramsolutions.SizramSolutions">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sizram Solutions"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/appname"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.TmssActivity"
            android:label="@string/title_activity_tmss"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sizramsolutions.SizramSolutions.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.PundraActivity"
            android:label="@string/title_activity_pundra"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sizramsolutions.SizramSolutions.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.MyaActivity"
            android:label="@string/title_activity_mya"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sizramsolutions.SizramSolutions.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.EmbassyActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sizramsolutions.SizramSolutions.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.CallCenterActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sizramsolutions.SizramSolutions.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.TenderActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sizramsolutions.SizramSolutions.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.HospitalActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sizramsolutions.SizramSolutions.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.CssActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sizramsolutions.SizramSolutions.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.CentralActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sizramsolutions.SizramSolutions.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.HolyActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sizramsolutions.SizramSolutions.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.YakubiaActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sizramsolutions.SizramSolutions.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.SummitActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sizramsolutions.SizramSolutions.MainActivity" />
        </activity>
    </application>

</manifest>